# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
# Indentation
indent_style = space
indent_size = 2
tab_width = 2

# Line endings
end_of_line = lf

# Charset
charset = utf-8

# Trimming
trim_trailing_whitespace = true
insert_final_newline = true

# Visual
max_line_length = 100

[*.{js,jsx,ts,tsx,json,css,scss,md,yml}]
# Quotes
quote_type = single

# Semicolons
semicolon = false

# Brackets
bracket_spacing = true
bracket_same_line = true

# Trailing Comma
trailing_comma = none
