@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1px;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: darkgrey white;
}

/* For Edge, IE, and other browsers (optional, limited support) */
body {
  -ms-overflow-style: scrollbar;
}

.curriculum-stack-original {
  @apply animate-rollingleft1;
}

.clone {
  @apply absolute left-0 top-0 animate-rollingleft2;
}
