@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1px;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: darkgrey white;
}

/* For Edge, IE, and other browsers (optional, limited support) */
body {
  -ms-overflow-style: scrollbar;
}

@keyframes verticalScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

.vertical-scroll {
  animation: verticalScroll 3s linear infinite;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadein 2s;
}
